---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About Me" description="About me page" />
	</head>
	<body>
		<Header title={SITE_TITLE}/>
		<main>
			<h1>About me</h1>
			<p>
				I am working with Astro to see if it is easy to have a personal blog.
			</p>
			<p>
				I'm not sure I'll update this site later :)
			</p>
		</main>
		<Footer />
	</body>
</html>
